.header{
    grid-area: header;
    background-color: #2a5ea5;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
//create branch
//push branch
//pull request
//merge L master
//checkout master
//pull master